<!doctype html>
<html>
<head>
    <title> Madlibs Game </title>
</head>
<body>
    <form action='/madlib'>
        Welcome to Madlibs! To play, please provide us with a person, color, noun and adjective.
        <br>
        <br>
        <label for="field-person"> Person:
        <input type="text" name="person">
        </label>
        <br>
        <label for="field-color"> Color: 
        <select name="color"> 
            <option value="fire-engine-red">Red</option>
            <option value="periwinkle">Periwinkle</option>
            <option value="lavender">Lavender</option>
            <option value="hot-pink">Hot Pink</option>
            <option value="turquoise">Turquoise</option>
            <option value="lime-green">Lime Green</option>
            <option value="fuschia">Fuschia</option>
            <option value="black">Black</option>
        </select>
        </label>
        <br>
        <label for="field-noun"> Noun:
        <select name="noun"> 
            <option value="unicorn">unicorn</option>
            <option value="spoon">spoon</option>
            <option value="balloon">balloon</option>
            <option value="pool-noodle">pool noodle</option>
            <option value="spoodle">spoodle</option>
            <option value="toothbrush">toothbrush</option>
            <option value="loom">loop</option>
            <option value="cooler">cooler</option>
        </select>
        <br>
        </label>
        <label for="field-adjective"> Adjective:
        <input type="text" name="adjective">
        </label>
        <br>
        <br>
        <input type="submit" value="Show me the Mad Lib">
    </form>
</body>
</html>